node_modules/
_cacache/
.cleanup-trash/

tmp/
temp/
logs/
log/
_logs/
*.log
*.tmp
_update-notifier-last-checked
npm-debug.log*
yarn-debug.log*
yarn-error.log*

dist/
build/
releases/

.DS_Store
Thumbs.db
*.Zone.Identifier

/node_modules/
/releases/
/.release-stage/
/tmp-*
/test-results/
/playwright-report/
.DS_Store
*Zone.Identifier

/*.sql
/site/*.sql
/site/.user.ini
